@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900|Playfair+Display:900|Open+Sans:400');
//Montserrat - 300-light 400-regular 600-semi-bold 700-bold 900-black
//PlayfairDisplay - 900-black