.button {
  background: #8A00F4;
  border: 3px solid #8A00F4;
  color: #fff;
  display: block;
  font-family: $base-font-family;
  font-size: 1.4rem;
  font-weight: 600;
  height: 7.5rem;
  line-height: 7.1rem;
  letter-spacing: 2.5px;
  max-width: 51rem;
  min-width: 32rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: $default-transition;
  @media screen and (max-width: 1024px) {
    height: 5rem;
    line-height: 4.6rem;
  }
  &:hover {
    background: transparent;
    color: #8A00F4;
    .icon-arrow {stroke: #8A00F4;}
  }//&:hover

  &.button-white {
    background: white;
    border-color: #fff;
    color: #8A00F4;
    &:hover {
      background: transparent;
      color: #fff;
      .icon-arrow {stroke: #fff;}
    }
    .icon-arrow {stroke: $violet;}
  }//&.button-white

  .icon-arrow {
    bottom: 0;
    stroke: #fff;
    margin: auto 0 auto 2rem;
    position: absolute;
    top: 0;
    transition: $default-transition;
    @media screen and (max-width: 425px) {  position: static;  }
  }//.icon-arrow
  &:not(.button-back) {
    .icon-arrow {transform: rotateZ(180deg);}
    &:hover {.icon-arrow {transform: rotateZ(180deg) translateX(-2rem);}}
  }
  &.button-sm {
    height: 5rem;
    line-height: 4.4rem;
    min-width: 21rem;
  }
  &.button-back {
    .icon-arrow {
      left: 6rem;
      margin: auto 2rem auto 0;
      @media screen and (max-width: 425px) {left: 0 !important;}
    }
    &:hover .icon-arrow {left: 4rem;}
  }
}//.button

.navigation-button {
  cursor: pointer;
  position: relative;

  &,
  &::before,
  &::after {
    background-color: #fff;
    display: inline-block;
    height: 2px;
    width: 3.9rem;
  }
  &::before,
  &::after {
    content: "";
    left: 0;
    position: absolute;
    transition: all .2s;
    width: 3.2rem;
  }
  &::before { top: -.8rem; }
  &::after { top: .8rem; }

  .actions:hover &:before {top: -1rem;}
  .actions:hover &:after {top: 1rem;}

  .actions &.active {
    background-color: transparent;
  }

  .actions &.active:before {
    top: 0;
    transform: rotate(135deg);
  }

  .actions &.active:after {
    top: 0;
    transform: rotate(-135deg);
  }

}//.navigation-button