.button {
  background: #8A00F4;
  border: 3px solid #8A00F4;
  color: #fff;
  display: block;
  font-family: $base-font-family;
  font-size: 1.4rem;
  font-weight: 600;
  height: 7.5rem;
  line-height: 7.5rem;
  letter-spacing: 2.5px;
  max-width: 51rem;
  min-width: 32rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: $default-transition;
  &:hover {
    background: transparent;
    color: #8A00F4;
    .icon-arrow {
      &.violet {opacity: 1;}
      &.white {opacity: 0;}
    }
  }//&:hover
  &.button-white {
    background: white;
    border-color: #fff;
    color: #8A00F4;
    &:hover {
      background: transparent;
      color: #fff;
    }
  }
  .icon-arrow {
    bottom: 0;
    margin: auto 0 auto 2rem;
    position: absolute;
    top: 0;
    &.violet {opacity: 0;}
  }
  &.button-sm {
    height: 5rem;
    line-height: 5rem;
    min-width: 21rem;
  }
}//.button

.contact-button {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 3.5rem;
  padding: 1.5rem 0;
  text-transform: uppercase;
}

.navigation-button {
  cursor: pointer;
  position: relative;

  &,
  &::before,
  &::after {
    background-color: #fff;
    display: inline-block;
    height: 2px;
    width: 5.1rem;
  }
  &::before,
  &::after {
    content: "";
    left: 0;
    position: absolute;
    transition: all .2s;
    width: 4.2rem;
  }
  &::before { top: -.8rem; }
  &::after { top: .8rem; }

  .actions:hover &:before {top: -1rem;}
  .actions:hover &:after {top: 1rem;}

  .actions &.active {
    background-color: transparent;
  }

  .actions &.active:before {
    top: 0;
    transform: rotate(135deg);
  }

  .actions &.active:after {
    top: 0;
    transform: rotate(-135deg);
  }

}//.navigation-button