/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
	background: #2A0E42;
	min-width: $min-width;
	order: 3;
	width: 100%;

	ul {
		list-style: none;
	}


	.widget {
		.widget-title {
			color: #4f4f4f;
			font-weight: 600;
			letter-spacing: 2px;
			margin-bottom: 2rem;
			text-transform: uppercase;
		}
		li {
			margin-bottom: 1rem;
			&.current {
				color: $violet-light;
				list-style: disc;
				a {color: $violet-light;}
			}
		}
		a {
			color: #ededed;
			&:hover {
				color: $violet-light;
			}
		}
	}//.widget



	.footer-social {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		float: none;
		justify-content: space-evenly;
		margin: 8rem auto 0;
		max-width: 65rem;
		padding-bottom: 6.5rem;
		text-align: center;
		a {
			display: inline-block;
			&:hover {
				svg {fill: $white;}
			}
			svg {fill: $violet;}
		}
	}//.footer-social


	.copyright {
		border-top: 2px solid $violet;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $violet;
		height: 14rem;
		font-size: 1.4rem;
		font-weight: 600;
		letter-spacing: 2px;
		line-height: 9rem;
		text-transform: uppercase;
		@media screen and (max-width: 768px) {height: 13rem;}
		span {
			position: relative;
			&:before, &:after {
				background: $violet;
				border-radius: 50%;
				height: 3px;
				content: '';
				display: inline-block;
				margin: auto 5px;
				vertical-align: middle;
				width: 3px;
			}
		}
	}//.copyright
}//footer

