/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
	background: $violet-dark;
	//height: $footerHeight;
	min-width: $min-width;
	order: 3;
	padding-top: 8rem;
	width: 100%;

	ul {
		list-style: none;
	}


	.widget {
		.widget-title {
			color: #4f4f4f;
			font-weight: 600;
			letter-spacing: 2px;
			margin-bottom: 2rem;
			text-transform: uppercase;
		}
		li {
			margin-bottom: 1rem;
			&.current {
				color: $violet-light;
				list-style: disc;
				a {color: $violet-light;}
			}
		}
		a {
			color: #ededed;
			&:hover {
				color: $violet-light;
			}
		}
	}//.widget



	.footer-social {
		align-items: center;
		border-top: 1px solid #1e0235;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		height: 8.4rem;
		margin-top: 7rem;
		text-align: center;
		a {
			display: inline-block;
			&:hover {
				svg {fill: $white;}
			}
			svg {fill: $grey-dark;}
		}
	}//.footer-social


	.copyright {
		border-top: 1px solid #1e0235;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $grey-dark;
		height: 9rem;
		font-size: 1rem;
		letter-spacing: 2px;
		line-height: 9rem;
		text-transform: uppercase;
		span {
			position: relative;
			&:before, &:after {
				background: $grey-dark;
				border-radius: 50%;
				height: 3px;
				content: '';
				display: inline-block;
				margin: auto 5px;
				vertical-align: middle;
				width: 3px;
			}
		}
	}//.copyright
}//footer

