form {
  font-family: $form-font-family;
  padding-top: 4.3rem;
  @media screen and (max-width: 1024px) {
    padding-top: 4rem;
  }

  label {font-weight: normal;}

  .form-title {
    font-family: $base-font-family;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    @media screen and (max-width: 1024px) {
      &.mt-15 {margin-top: 4.5rem;}
    }
    @media screen and (max-width: 375px) {
      &.mt-15 {margin-top: .5rem;}
    }
  }//.form-title

  .form-group {
    margin-bottom: 7rem;
    @media screen and (max-width: 1024px) {
      margin-bottom: 3rem;
    }
    @media screen and (max-width: 425px) {
      margin-bottom: 0;
    }
  }//.form-group

  .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    color: $grey;
    outline: none;
    &:focus {
      background: none;
      border-color: inherit;
      box-shadow: none;
      outline: none;
    }
    + label {
      padding: 1rem 1.2rem 0;
      position: absolute;
      transition: $default-transition;
      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
        padding-top: .5rem;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //IE10, IE11
        visibility: hidden;
      }
      @supports (display:-ms-grid) { //MICROSOFT EDGE
        visibility: hidden;
      }
    }//+ label
    &:placeholder-shown + label {
      opacity: 0;
      transform: translateY(-2.8rem);
      visibility: hidden;
    }
    @include placeholder {
      color: $grey;
    }
  }//.form-control


  .checkbox {

    input[type="checkbox"] {
      display: none;
      &:checked + label {
        &:before {
          background: #8A00F4;
          content: 'on';
          padding-left: 0;
          padding-right: 2rem;
        }
        &:after {left: 39px;}
      }//&:checked + label
    }//input[type="checkbox"]

    label {
      line-height: 29px;
      padding-left: 7.5rem;
      position: relative;
      white-space: nowrap;
      &:before {
        background: $pink;
        border-radius: 3rem;
        color: #fff;
        content: 'off';
        font-family: $base-font-family;
        font-size: 9px;
        font-weight: 700;
        height: 29px;
        left: 0;
        padding-left: 2rem;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        transition: $default-transition;
        width: 68px;
      }
      &:after {
        background: #fff;
        border-radius: 50%;
        box-shadow: 2px 2px 15px -5px rgba(0,0,0,.5), -2px -2px 15px -5px rgba(0,0,0,.5);
        content: '';
        height: 100%;
        left: -1px;
        position: absolute;
        transition: $default-transition;
        width: 3rem;
      }
    }//label

  }//.checkbox



  &.form-horizontal {
    .checkbox {margin-bottom: 1.3rem;}
  }


}//form

#amount {
  opacity: 0;
  visibility: hidden;
}
#slider.ui-slider {
  background: #d1d1d1;
  border: none;
  border-radius: 5px;
  font-family: $base-font-family;
  height: .9rem;
  &:before {
    background-image: -webkit-linear-gradient(90deg, #d1d1d1 1px, transparent 0);
    background-image: linear-gradient(90deg, #d1d1d1 1px, transparent 0);
    background-size: 28px 39px;
    background-repeat: repeat-x;
    background-position: 1rem bottom;
    content: '';
    height: 6.2rem;
    left: 0;
    position: absolute;
    top: -3.8rem;
    width: 100%;
    @media screen and (max-width: 425px) {
      background-size: 15px 39px;
    }
  }//&:before
  &:after {
    content: '8';
    position: absolute;
    right: 0;
  }//&:after

  .ui-slider-range {
    background: -webkit-linear-gradient(to right, $violet 0%, $pink 75%);
    background: linear-gradient(to right, $violet 0%, $pink 75%);
    border-radius: 5px;
  }
  .ui-slider-handle {
    background: $pink;
    border: none;
    border-radius: 1.3rem;
    cursor: pointer;
    height: 3.9rem;
    margin-left: -1.9rem;
    top: -1.5rem;
    width: 3.9rem;
    @media screen and (max-width: 375px) {
      height: 3rem;
      top: -1rem;
      width: 3rem;
    }
  }//.ui-slider-handle

  div#value {
    color: #636363;
    font-weight: 600;
    left: 50%;
    position: absolute;
    top: -2.5rem;
    transform: translateX(-50%);
  }

}//.ui-slider
