form {
  font-family: $form-font-family;
  padding-top: 4.3rem;
  @media screen and (max-width: 1024px) {
    padding-top: 4rem;
  }

  label {font-weight: normal;}

  .form-title {
    font-family: $base-font-family;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    @media screen and (max-width: 1024px) {
      &.mt-15 {margin-top: 4.5rem;}
    }
    @media screen and (max-width: 375px) {
      &.mt-15 {margin-top: 2.5rem;}
    }
  }//.form-title

  .form-group {
    margin-bottom: 7rem;
    @media screen and (max-width: 1024px) {
      margin-bottom: 3rem;
    }
    @media screen and (max-width: 425px) {
      margin-bottom: 0;
    }
  }//.form-group

  .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    color: $grey;
    outline: none;
    &:focus {
      background: none;
      border-color: inherit;
      box-shadow: none;
      outline: none;
    }
    + label {
      padding: 1rem 1.2rem 0;
      position: absolute;
      transition: $default-transition;
      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
        padding-top: .5rem;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //IE10, IE11
        visibility: hidden;
      }
      @supports (display:-ms-grid) { //MICROSOFT EDGE
        visibility: hidden;
      }
    }//+ label
    &:placeholder-shown + label {
      opacity: 0;
      transform: translateY(-2.8rem);
      visibility: hidden;
    }
    @include placeholder {
      color: $grey;
    }
  }//.form-control


  .checkbox {

    input[type="checkbox"] {
      display: none;
      &:checked + label {
        &:before {
          background: #8A00F4;
          content: 'on';
          padding-left: 0;
          padding-right: 2rem;
        }
        &:after {left: 39px;}
      }//&:checked + label
    }//input[type="checkbox"]

    label {
      line-height: 29px;
      padding-left: 7.5rem;
      position: relative;
      white-space: nowrap;
      &:before {
        background: $pink;
        border-radius: 3rem;
        color: #fff;
        content: 'off';
        font-family: $base-font-family;
        font-size: 9px;
        font-weight: 700;
        height: 29px;
        left: 0;
        padding-left: 2rem;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        transition: $default-transition;
        width: 68px;
      }
      &:after {
        background: #fff;
        border-radius: 50%;
        box-shadow: 2px 2px 15px -5px rgba(0,0,0,.5), -2px -2px 15px -5px rgba(0,0,0,.5);
        content: '';
        height: 100%;
        left: -1px;
        position: absolute;
        transition: $default-transition;
        width: 3rem;
      }
    }//label

  }//.checkbox


  .form-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
    @media screen and (max-width: 660px) {
      flex-direction: column;
    }
    .button {
      background-color: $violet;
      border-color: $violet;
      @media screen and (max-width: 450px) {
        max-width: 100%;
        min-width: 0;
        width: 100%;
      }
      &:hover {
        background-color: transparent;
        border-color: #8A00F4;
      }
    }
  }//.form-footer

  &.form-horizontal {
    .checkbox {margin-bottom: 1.3rem;}
  }

  .button-file {
    @media screen and (max-width: 660px) {
      margin-bottom: 3rem;
    }
    #fileformlabel {
      color: $violet;
      font-size: 12px;
      left: 0;
      letter-spacing: 0;
      line-height: 22px;
      margin-top: .5rem;
      position: absolute;
      text-align: left;
      text-transform: none;
      top: 100%;
      width: 100%;
      @media screen and (max-width: 660px) {
        text-align: center;
      }
    }
    #upload{
      cursor: pointer;
      font-size: 0;
      height: 100%;
      left: 0;
      -moz-opacity: 0;
      filter: alpha(opacity=0);
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 20;
    }
  }//.button-file


}//form

#amount {
  opacity: 0;
  visibility: hidden;
}
#slider.ui-slider {
  background: #d1d1d1;
  border: none;
  border-radius: 5px;
  font-family: $base-font-family;
  height: .9rem;
  &:before {
    background-image: -webkit-linear-gradient(90deg, #d1d1d1 1px, transparent 0);
    background-image: linear-gradient(90deg, #d1d1d1 1px, transparent 0);
    background-size: 28px 39px;
    background-repeat: repeat-x;
    background-position: 1rem bottom;
    content: '0$';
    color: #DFDFDF;
    font-size: 1.4rem;
    height: 6.8rem;
    left: 0;
    position: absolute;
    top: -4.4rem;
    width: 100%;
    @media screen and (max-width: 425px) {
      background-size: 15px 39px;
    }
  }//&:before
  &:after {
    background: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 9 5" xmlns="http://www.w3.org/2000/svg"><title>infinity</title><path d="M4.164 3.712L4.284 3.496C4.5 3.94 4.752 4.288 5.052 4.54C5.388 4.84 5.784 4.996 6.264 4.996C6.876 4.996 7.344 4.756 7.692 4.3C8.028 3.832 8.208 3.292 8.208 2.68C8.208 2.08 8.028 1.552 7.68 1.084C7.332 0.628 6.852 0.4 6.228 0.4C5.724 0.4 5.28 0.556 4.92 0.892C4.68 1.096 4.44 1.444 4.176 1.912C3.912 1.384 3.624 1 3.312 0.76C3 0.52 2.64 0.412 2.244 0.412C1.632 0.412 1.14 0.628 0.78 1.084C0.432 1.528 0.252 2.068 0.252 2.704C0.252 3.376 0.432 3.928 0.804 4.36C1.188 4.78 1.668 4.996 2.268 4.996C2.76 4.996 3.192 4.828 3.564 4.492C3.768 4.3 3.972 4.048 4.164 3.712ZM1.5 3.76C1.272 3.532 1.164 3.196 1.164 2.752C1.164 2.32 1.26 1.984 1.476 1.72C1.68 1.468 1.92 1.336 2.22 1.336C2.568 1.336 2.904 1.528 3.252 1.912C3.576 2.296 3.744 2.536 3.744 2.632C3.744 2.764 3.588 3.04 3.276 3.472C2.976 3.892 2.628 4.108 2.268 4.108C1.992 4.108 1.74 4 1.5 3.76ZM7.008 1.732C7.212 1.984 7.308 2.296 7.308 2.68C7.308 3.088 7.212 3.424 6.996 3.688C6.792 3.952 6.516 4.084 6.168 4.084C5.808 4.084 5.496 3.88 5.208 3.484C4.908 3.076 4.764 2.812 4.764 2.68C4.764 2.56 4.908 2.308 5.196 1.924C5.484 1.54 5.796 1.348 6.156 1.348C6.516 1.348 6.804 1.48 7.008 1.732Z" fill="#DFDFDF"/></svg>') no-repeat center;
    content: '';
    height: 2rem;
    position: absolute;
    right: -1rem;
    top: -4.5rem;
    width: 2rem;
  }//&:after

  .ui-slider-range {
    background: -webkit-linear-gradient(to right, $violet 0%, $pink 75%);
    background: linear-gradient(to right, $violet 0%, $pink 75%);
    border-radius: 5px;
  }
  .ui-slider-handle {
    background: $pink;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 15px -5px #000;
    cursor: pointer;
    height: 3.9rem;
    margin-left: -1.9rem;
    top: -1.5rem;
    width: 3.9rem;
    @media screen and (max-width: 375px) {
      height: 3rem;
      top: -1rem;
      width: 3rem;
    }
  }//.ui-slider-handle

  div#value {
    background: #F0EEEE;
    color: #636363;
    font-weight: 600;
    left: 50%;
    min-width: 4rem;
    padding: 0 1rem;
    position: absolute;
    text-align: center;
    top: -3rem;
    transform: translateX(-50%);
  }

}//.ui-slider
