header{
	height: $headerHeight;
	margin-bottom: -$headerHeight;
	min-width: $min-width;
	order: 1;
	position: fixed;
	width: 100%;
	z-index: 999;
	@media screen and (max-width: 1024px) {
		height: $headerHeightDesktop;
	}
	@media screen and (max-width: 768px) {
		height: $headerHeightTablet;
	}
	&.active {
		.blur,
		.site-menu {
			visibility: visible;
			opacity: 1;
		}
	}//&.active

	.blur {
		background: rgba(255,255,255,.4);
		//background: #fff url(../img/header_bg.png) no-repeat center top;
		height: 100%;
		filter: blur(2px);
		opacity: 0;
		position: absolute;
		transition: $default-transition;
		visibility: hidden;
		width: 100%;
		z-index: 0;
		&:before {
			background: rgba(255,255,255,.6);
			background: #fff url(../img/header_bg.png) no-repeat center top;
			content: none;
			height: 100%;
			position: absolute;
			width: 100%;
		}
	}//.blur
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		padding: 0 1.2rem;
		position: relative;
		z-index: 1;
		&:after {content: none;}
		@media screen and (max-width: 768px) {
			justify-content: space-between;
		}
	}

	.site-menu {
		display: flex;
		opacity: 0;
		padding: 0 1.5rem;
		visibility: hidden;
		@media screen and (max-width: 768px) {
			flex: 1;
			justify-content: flex-end;
			opacity: 1;
			visibility: visible;
			nav {display: none;}
		}
	}//.site-menu

	.logo {height: 2.5rem;}

	nav {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: space-evenly;
		ul {
			list-style: none;
			margin-bottom: 0;
			li {
				display: inline-block;
				padding: 0 2rem;
				@media screen and (max-width: 1024px) {
					padding: 0 1rem;
				}
				a {
					color: #fff;
					font-weight: 600;
					opacity: .5;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					&:hover {
						color: #fff;
						opacity: 1;
					}
					@media screen and (max-width: 1024px) {
						font-size: .9rem;
					}
				}//a
				&.current a {opacity: 1;}
			}//li
		}//ul
	}//nav

	.socials {
		display: flex;
		align-items: center;
		a {
			fill: $violet;
			margin: 0 1rem;
			&:hover {fill: white;}

		}
	}//.socials

	.button.button-sm {
		height: 4.2rem;
		line-height: 4rem;
		min-width: 17.6rem;
		@media screen and (max-width: 768px) {
			background: none;
			border: none;
			border-bottom: 1px solid;
			color: #fff;
			min-width: 15.4rem;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			width: 10rem;
		}
	}

	.actions {
		cursor: pointer;
		height: 3rem;
	}

}//header
