header{
	height: $headerHeight;
	margin-bottom: -$headerHeight;
	min-width: $min-width;
	order: 1;
	position: fixed;
	width: 100%;
	z-index: 999;
	.blur {
		background: rgba(255,255,255,.4);
		height: 100%;
		position: absolute;
		filter: blur(2px);
		width: 100%;
		z-index: 0;
	}
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 0 1.2rem;
		position: relative;
		z-index: 1;
		&:after {content: none;}
	}

	.site-menu {
		display: flex;
		flex: 1;
		padding: 0 1.5rem;
	}

	nav {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: space-evenly;
		ul {
			list-style: none;
			li {
				display: inline-block;
				padding: 0 2rem;
				a {
					color: #fff;
					font-weight: 600;
					opacity: .5;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					&:hover {
						color: #fff;
						opacity: 1;
					}
				}
				&.current a {opacity: 1;}
			}//li
		}//ul
	}//nav

	.button.button-sm {
		height: 4.2rem;
		line-height: 4rem;
		margin-right: 3.5rem;
		min-width: 17.6rem;
	}

	.actions {height: 3rem;}

}//header
