header {
	height: $headerHeight;
	margin-bottom: -$headerHeight;
	min-width: $min-width;
	order: 1;
	position: fixed;
	transition: all .5s linear;;
	width: 100%;
	z-index: 999;
	@media screen and (max-width: 1024px) {
		height: $headerHeightDesktop;
	}
	@media screen and (max-width: 768px) {
		height: $headerHeightTablet;
	}
	@media screen and (max-width: 320px) {
		//border-bottom: 1px solid #fff;
		height: $headerHeightMobile;
	}

	&.scrollUp {transform: translateY(0)};
	&.scrollDown {transform: translateY(-100%)};

	.logo {
		svg.desktop {
			@media screen and (max-width: 580px) {
				display: none;
			}
		}
		svg.mobile {
			@media screen and (min-width: 581px) {
				display: none;
			}
		}
	}//.logo

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		padding: 0 1.2rem;
		position: relative;
		z-index: 1;
		&:after {content: none;}
		@media screen and (max-width: 768px) {
			justify-content: space-between;
		}
	}

	.socials {
		display: flex;
		align-items: center;
		@media screen and (min-width: 581px) and (max-width: 768px) {
			animation: none !important;
		}
    @media screen and (max-width: 580px) {
			animation: none;
      background: rgba(252,72,107,.85);
      border-top: 1px solid #fff;
      justify-content: center;
      opacity: 0;
      padding: 1rem 0;
      visibility: hidden;
    }//@media screen and (max-width: 425px)
		a {
			fill: $violet;
			margin: 0 1rem;
			&:hover {fill: white;}
      @media screen and (max-width: 425px) {
        padding: 1rem;
      }
		}
	}//.socials

}//header



//header on inner pages
header {
	background: #EDECEC;
	@media screen and (max-width: 580px) {
		background: $violet;
		padding: 0;
	}

	body:not(.home) & {
		@media screen and (min-width: 769px) and (max-width: 1024px) {
			height: $headerHeightDesktop + 5rem;
			padding-bottom: 5rem;
		}
		@media screen and (min-width: 581px) and (max-width: 768px) {
			height: $headerHeightTablet + 8rem;
			padding-bottom: 8rem;
		}
		.wrapper {justify-content: space-between;}
	}//body:not(.home) header


	.site-menu {
		display: flex;
		padding: 0 1.5rem;
	}

	nav {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: space-evenly;
		transition: $default-transition;
		body:not(.home) & {
			@media screen and (max-width: 1024px) {
				background: #EDECEC;
				bottom: -5rem;
				height: 5rem;
				left: 0;
				opacity: 1;
				position: absolute;
				visibility: visible;
				width: 100%;
				z-index: 1;
			}
			@media screen and (max-width: 768px) {
				bottom: -8rem;
				height: 8rem;
			}
			@media screen and (max-width: 580px) {
				background: transparent;
				height: 0;
				opacity: 0;
				position: static;
				visibility: hidden;
				ul li:last-child {border-bottom: 1px solid #fff;}
			}
		}//body:not(.home) nav
		ul {
			list-style: none;
			margin-bottom: 0;
			@media screen and (max-width: 580px) {
				background: $violet;
				display: flex;
				flex-direction: column;
				flex: 1;
				justify-content: flex-start;
			}
			li {
				display: inline-block;
				padding: 0 2rem;
				@media screen and (max-width: 1024px) {
					padding: 0 1rem;
				}
				@media screen and (max-width: 580px) {
					border-top: 1px solid #fff;
					padding: 0 2rem;
				}
				&.active a,
				&.current a {
					color: #8A00F4;
					opacity: 1;
					@media screen and (max-width: 580px) {
						color: #fff;
					}
				}
				a {
					color: $grey;
					display: block;
					font-weight: 600;
					opacity: .7;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					&:hover {
						color: #8A00F4;
						opacity: 1;
					}
					@media screen and (max-width: 580px) {
						//display: block;
						opacity: 1;
						padding: 1rem 0;
					}
					@media screen and (max-width: 580px) {
						color: $grey-light;
					}
				}//a
			}//li
		}//ul
	}//nav

	.site-menu {
		@media screen and (max-width: 768px) {
			flex: 1;
			justify-content: flex-end;
			opacity: 1;
			visibility: visible;
		}
		@media screen and (max-width: 580px) {
			display: block;
			flex-direction: column;
			left: 0;
			padding: 0;
			position: absolute;
			top: 100%;
			width: 100%;
		}
	}//.site-menu

	.button {
		height: 7.1rem;
		line-height: 7.1rem;
		min-width: 26rem;
		@media screen and (max-width: 768px) {

		}
		@media screen and (max-width: 580px) {
			display: none;
		}
	}//.button.button-sm


	.actions {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 100%;
		@media screen and (min-width: 581px) {display: none;}
		@media screen and (min-width: 768px) and (max-width: 1250px){
			margin-left: 2rem;
		}
	}//.actions

	&.active {
		.blur,
		.site-menu {
			visibility: visible !important;
			opacity: 1 !important;
			top: 100%;
		}
		nav {
			@media screen and (max-width: 580px) {
				height: 100% !important;
				opacity: 1 !important;
				visibility: visible !important;
			}
		}
	}//header.active


	//header on home page
	.home & {
		background: transparent;
		position: fixed;

		.logo {height: 2.5rem;}

		&:not(.transparent) {background: rgba(252,72,107,.95);}

		&.active {
			background: rgba(252,72,107,.95);

			nav {
				@media screen and (max-width: 768px) {
					bottom: -5rem;
					opacity: 1;
					visibility: visible;
				}
				@media screen and (max-width: 580px) {
					height: 100%;
				}
			}//nav
			.socials {
				@media screen and (max-width: 580px) {
					opacity: 1;
					visibility: visible;
				}
			}//.socials
		}//.home header.active


		nav {

			flex: 1;
			@media screen and (max-width: 768px) and (min-width: 581px) {
				bottom: -5rem;
				opacity: 1;
				visibility: visible;
			}

			@media screen and (max-width: 768px) {
				background: rgba(252,72,107,.95);
				left: 0;
				height: 5rem;
				position: absolute;
				width: 100%;
				opacity: 0;
				visibility: hidden;
				bottom: 0;
			}
			@media screen and (max-width: 580px) {
				background: transparent;
				height: 0;
				position: static;
			}
			ul {
				@media screen and (max-width: 580px) {
					background: rgba(252, 72, 107, 0.95);
				}
				li {
					@media screen and (max-width: 580px) {
						border-top: 1px solid #fff;
					}
					&.active a {color: #fff;}
					a {
						color: #F7C1D0;
						opacity: 1;
						&:hover {color: #fff;}
						@media screen and (max-width: 1024px) {
							font-size: .9rem;
						}//@media screen and (max-width: 1024px)
						@media screen and (max-width: 580px) {
							animation: none;
						}
					}//a
				}//li
			}//ul
		}//nav


		.site-menu {

			flex: 1;
			transition: all 2s;

			@media screen and (min-width: 769px) {
				//opacity: 0;
				//visibility: hidden;
			}
			@media screen and (max-width: 768px) {
				flex: 1;
				justify-content: flex-end;
				opacity: 1;
				visibility: visible;
				top: 100%;
			}
			li:nth-child(1) a {animation-delay: .1s;}
			li:nth-child(2) a {animation-delay: .2s;}
			li:nth-child(3) a {animation-delay: .3s;}
			li:nth-child(4) a {animation-delay: .4s;}
			li:nth-child(5) a {animation-delay: .5s;}
			li:nth-child(6) a {animation-delay: .6s;}
			.socials {animation-delay: .7s;}
		}//.site-menu

		.button.button-sm {
			height: 4.2rem;
			line-height: 4rem;
			min-width: 17.6rem;
			@media screen and (max-width: 768px) {
				background: none;
				border: none;
				border-bottom: 1px solid;
				color: #fff;
				min-width: 15.4rem;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				width: 10rem;
			}
		}//.button.button-sm


		.actions {
			@media screen and (max-width: 768px) {
				display: flex;
			}

		}

	}//.home header

}//header


.site-menu {

	@media screen and (max-width: 1220px) and (min-width: 1024px){
		flex: 1;
		nav {width: 100%;}
		ul {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
		}
		li {padding: 0 !important;}

	}

	@media screen and (min-width: 581px) {
		.mobile {display: none !important;}
	}

	@media screen and (max-width: 580px) {
		.mobile {
			border-bottom: 1px solid;
			border-top: 0;
			order: 1;
			padding: 0;
			.home & {
				border-color: #fff;
				border-top: 1px solid #fff;
			}
		}
		.button {
			background: $pink;
			border: none;
			color: #fff !important;
			display: block;
			height: 6.2rem;
			line-height: 6.2rem;
			max-width: 100%;
			padding: 0;
		}
	}

}//.site-menu