.modal {
  .close {
    opacity: 1;

    span {
      cursor: pointer;
      position: relative;

      &,
      &::before,
      &::after {
        display: inline-block;
        height: 2px;
        vertical-align: middle;
        width: 3.9rem;
      }
      &::before,
      &::after {
        background-color: #fff;
        content: "";
        left: 3px;
        opacity: .5;
        position: absolute;
        transition: $default-transition;
        top: 0;
        width: 3.2rem;
      }
      &:before {transform: rotate(135deg);}
      &:after {transform: rotate(-135deg);}
    }//span

    &:hover span {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }//.close

  .modal-header {
    border: none;
    height: 6rem;
    letter-spacing: 2px;
    padding: 1.5rem 4rem;
    a {
      color: #fff;
      &:hover {
        .icon-arrow {transform: translateX(-2rem);}
      }
    }
  }//.modal-header

  .modal-body {
    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }
  .modal-content {
    background: transparent;
    border: none;
  }
  h2 {
    color: #fff;
    font-size: 6rem;
    font-family: $base-font-family;
    font-weight: 900;
    margin-bottom: 4.5rem;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 450px) {
      margin-bottom: 2rem;
    }
    @media screen and (max-width: 375px) {
      font-size: 3rem;
    }
  }
}//.modal



.modal#modalVideo {
  padding: 0 !important;

  .close {
    background: #000;
    height: 100%;
    margin: 0;
    width: 4.5rem;
  }//.close

  .modal-dialog {

    padding-top: 4.5rem;

    @media (min-width: 768px) {
      max-width: 95%;
      margin: 30px auto;
      width: 100%;
    }

    .modal-header {
      border: none;
      height: 4.5rem;
      left: 0;
      padding: 0;
      position: absolute;
      top: -4.5rem;
      width: 100%;
    }
    .modal-body {
      height: 85vh;
      padding: 0;
    }

    iframe {display: block;}

  }//.modal-dialog

}//.modal#modalVideo

.modal[databackdrop="pink"] ~ {
  .modal-backdrop {
    background: -webkit-linear-gradient(to right, $violet 0%, $pink 75%);
    background: linear-gradient(to right, $violet 0%, $pink 75%);
    opacity: .75;
  }
}

.modal#modalJoinUs {
  .modal-dialog {
    max-width: 86rem;
    width: 100%;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }
  .modal-content {
    box-shadow: none;
  }
  .modal-header {
    border: none;
    @media screen and (max-width: 580px) {
      text-align: center;
      .close {display: none;}
    }
  }//.modal-header

  .form-wrapper {
    background: #fff;
    padding: 5rem 10rem 10rem;
    @media screen and (max-width: 768px) {
      padding: 2rem 4rem 4rem;
    }
    @media screen and (max-width: 450px) {
      padding: 2rem;
    }
  }//.form-wrapper

  form {
    @media screen and (max-width: 450px) {
      padding-top: 1rem;
    }
    @media screen and (max-width: 767px) {
      .col-sm-6:first-child {
        margin-bottom: 3rem;
      }
    }
    .form-group {
      margin-bottom: 3rem;
    }
  }
}//.modal#modalJoinUs


.modal#modalGetInTouch {
  padding-right: 0 !important;
  .modal-dialog {

    width: 100%;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }//.modal-dialog
    .modal-content {
      box-shadow: none;
    }
      .modal-header {
        @media screen and (max-width: 580px) {
          text-align: center;
          .close {display: none;}
        }
      }//.modal-header

      .modal-body {
        padding: 0;
      }
  .section-venture {
    background: none !important;
    @media screen and (max-width: 768px) {
      .wrapper {display: block;}
    }
    &:before {content: none;}
  }//.section-venture

  .left {
    animation-duration: .7s;
    background: transparent;
    border: none;
    &:before {content: none;}
    @media screen and (max-width: 768px) {
      display: block;
      margin: 0 auto 2rem;
      padding: 0;
      h2 {
        display: block;
        margin: auto;
        text-align: center !important;
      }
    }
  }//.left

  .right {
    animation-duration: .7s;
    @media screen and (min-width: 769px) {margin-right: -.4rem;}
  }

  form .form-group {
    margin-bottom: 5.5rem;
    @media screen and (max-width: 768px) {margin-bottom: 0;}
  }
  .checkbox-container .form-group {
    margin-bottom: 1rem;
    .col-sm-6 {margin-bottom: 0;}
  }
}//.modal#modalGetInTouch

body.modal-open .main-wrapper {
  filter: blur(3px);
}


