.section-title {
	@include font($title-color, 6rem, $title-font-weight, initial);
	position: relative;
	text-align: center;
	text-transform: uppercase;
	@media screen and (max-width: 425px) {
		font-size: 2.4rem;
	}
	&.dash {
		&:after {
			background: $violet;
			bottom: -8rem;
			content: '';
			height: .7rem;
			left: 0;
			margin: auto;
			right: 0;
			position: absolute;
			width: 6rem;
			@media screen and (max-width: 375px) {
				bottom: -1rem;
			}
		}
	}//.section-title
}//.section-title


.section-number {
	font-size: 24rem;
	font-weight: 900;
	line-height: initial;
	padding: 0 2rem;
	text-align: right;
	@media screen and (max-width: 1024px) {display: none;}
}

.section-group {
	@media screen and (max-width: 768px) {
		background-image: -webkit-linear-gradient(33deg, $violet 0%, $pink 70%);
		background-image: linear-gradient(33deg, $violet 0%, $pink 70%);
	}
}//.section-group


.filter {
	margin-bottom: 7rem;
	text-align: center;
	@media screen and (max-width: 768px) {margin-bottom: 4.5rem;}
	@media screen and (max-width: 425px) {
		overflow: hidden;
		padding: 1rem 3rem;
	}
	li {
		display: inline-block;
		font-family: $form-font-family;
		font-size: 1.4rem;
		font-weight: 600;
		margin: 0 2rem 1rem;
		@media screen and (max-width: 425px) {
			float: left;
			margin: 0 0 1rem;
			text-align: left;
			width: 50%;
		}
		button {
			background: transparent;
			border: none;
			border-radius: 3rem;
			color: $violet;
			display: inline-block;
			padding: .5rem 1.5rem;
			&.active {
				background: #8A00F4;
				color: #fff;
				&:hover {background: $violet;}
			}
			&:hover {background: #eee;}
		}
	}
}//.filter

.breadcrumbs {
	background: #EDECEC;
	font-family: $form-font-family;
	padding: 0 1.2rem;
	.wrapper {
		border-top: 1px solid;
		color: #8e02f1;
		padding: 3rem 0;
	}
	.icon-arrow {
		margin: 0 1rem;
		stroke: #8e02f1;
		transform: rotateZ(180deg);
	}
}//.breadcrumbs


.sections-navigation {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 1.2rem;
	text-align: left;
	top: 0;
	@media screen and (max-width: 768px) {display: none;}
	a {
		display: block;
		padding: .9rem 0;
		position: relative;
		width: 1.6rem;
		&:before {
			border: 1px solid #A203D8;
			bottom: 0;
			content: '';
			height: 1px;
			margin: auto;
			position: absolute;
			top: 0;
			width: 100%;
		}
		.section-header &:before {border-color: #fff;}
		&.current,
		&:hover {width: 3.2rem;}
	}//a
	.section-header & {right: 0; top: 25%;}
	.section-services & {top: 4%;}
}//.sections-navigation




















.truncate {
	@include truncate(ellipsis);
	width: 100%;
}
.tooltip {position: relative;}
.tooltip:before {
	background: inherit;
	border: inherit;
	border-right: 0;
	border-bottom: 0;
	content: '';
	padding: .35em;
	position: absolute;
	top: -.4em; left: 1em;
	transform: rotate(45deg);
}
.caret {
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	display: inline-block;
	height: 0;
	margin-left: .2rem;
	vertical-align: middle;
	width: 0;
}