.section-nav {
  padding: 3rem 0 2rem;
  text-align: center;

  .logo {
    display: inline-block;
    fill: #49159b;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 0 2rem;
      text-transform: uppercase;
      &.active a {color: $violet;}
      a {
        color: $grey;
        font-weight: 600;
        letter-spacing: 2px;
        &:hover {color: $violet;}
      }
    }
  }//ul
}//.section-nav