.section-services {

  @media screen and (min-width: 1400px) {
    padding-bottom: 15rem;
  }

  .section-title {
    background: #fff;
    color: #8A00F4;
    margin-bottom: 20rem;
    margin-top: 0;
    padding-bottom: 7rem;
    padding-top: 4.3rem;
    &:before {
      background: #fff;
      content: '';
      height: 100%;
      right: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 12.5rem;
      padding-bottom: 1rem;
    }
  }//.section-title

  .section-body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -7rem;
    @media screen and (max-width: 1290px) {
      justify-content: flex-start;
    }
    @media screen and (min-width: 1025px) {
      margin-bottom: -20rem;
    }
    @media screen and (max-width: 1023px) {
      justify-content: center;
    }
  }//.section-body

  .service-item {
    background: #fff;
    text-align: center;
    margin: 0 1rem 18rem;
    max-width: 36rem;
    position: relative;
    width: 100%;
    @media screen and (min-width: 1290px) {
      margin-left: 0;
      margin-right: 3rem;
    }//@media screen and (min-width: 1290px)
    @media screen and (max-width: 1289px) {
      max-width: 30rem;
      margin-left: 0;
      margin-right: 0;
    }
    @media screen and (min-width: 1024px) {
      &:nth-child(4) {
        margin-left: 9rem;
      }
    }
    @media screen and (max-width: 768px) {
      max-width: 36rem;
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 12.2rem;
    }

  }//.service-item

  .service-icon {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }
  .service-title {
    color: #8a00f4;
    font-size: 1.8rem;
    font-weight: 900;
    padding-bottom: 2rem;
    padding-top: 14rem;
    text-transform: uppercase;
    @media screen and (max-width: 375px) {
      font-size: 1.4rem;
      padding-bottom: 1rem;
      padding-top: 12.3rem;
    }
  }

  .section-footer {
    @media screen and (min-width: 1400px) {
      position: absolute;
      right: 0;
      top: 320px;
    }
  }
}//.section-services