.section-venture {

  @media screen and (max-width: 768px) {
    &.gray-bg {background: transparent !important;}
    padding-bottom: 9rem;
  }
  @media screen and (max-width: 425px) {  padding-bottom: 0;  }


  .wrapper {
    display: flex;
    @media screen and (max-width: 768px) {  flex-direction: column;  }
  }

  .left .section-title {
    max-width: 57rem;
    display: inline-block;
    @media screen and (max-width: 1024px) {  font-size: 3.6rem;  }
    @media screen and (max-width: 768px) {  margin-bottom: 2rem;  }
    @media screen and (max-width: 425px) {  font-size: 2.4rem;  }
  }//.section-title

  .left {
    background: -webkit-linear-gradient(33deg, $violet 0%, $pink 70%);
    background: linear-gradient(33deg, $violet 0%, $pink 70%);
    padding: 1rem 3rem;
    text-align: right;
    width: 40.4255%;
    @media screen and (max-width: 768px) {
      background: transparent;
      border-top: 1px solid #fff;
      margin: auto;
      max-width: 81.25%;
      padding: 4.5rem 0 1rem;
      text-align: left;
      width: 100%;
    }
    @media screen and (max-width: 425px) {
      padding-bottom: 3.5rem;
      padding-top: 3.5rem;
    }
  }//.left
  .right {
    padding-bottom: 4rem;
    width: 59.5744%;
    @media screen and (max-width: 768px) {
      background: #F0EEEE;
      margin: auto;
      max-width: 81.25%;
      padding-bottom: 2rem;
      width: 100%;
    }
    @media screen and (max-width: 425px) {
      max-width: 100%;
    }
  }//.right

  form {
    display: inline-block;
    max-width: 84rem;
    padding-left: 10%;
    width: 80%;
    .form-title:first-child {}
    @media screen and (max-width: 1024px) {
      padding-left: 7%;
      padding-right: 7%;
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      padding-left: 4rem;
      padding-right: 4rem;
      width: 100%;
    }
    @media screen and (max-width: 425px) {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;
      .form-title:first-child {display: none;}
    }
    .form-group .col-sm-6 {
      margin-bottom: 2.5rem;
    }
    .button {
      max-width: 39rem;
      width: 100%;
      @media screen and (max-width: 768px) {
        height: 7.5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 30rem;
      }
      @media screen and (max-width: 425px) {
        margin-top: 3.5rem;
        min-width: 0;
      }
    }//.button

  }//form

  .group-field {
    @media screen and (max-width: 425px) {display: none;}
  }

}//.section-venture



body:not(.home) .section-venture {
  @media screen and (max-width: 768px) {
    background: -webkit-linear-gradient(33deg, $violet 0%, $pink 70%);
    background: linear-gradient(33deg, $violet 0%, $pink 70%);
  }
  .section-title {
    margin: 0;
    padding: 7.5rem 0 9.5rem;
    @media screen and (max-width: 768px) {
      color: #fff;
      padding: 3.5rem 0 1rem;
    }
  }//.section-title

  .left {
    @media screen and (max-width: 768px) {
      border: none;
      padding-top: 0;
    }
    @media screen and (max-width: 425px) {
      padding-bottom: 0;
    }
  }

}//body:not(.home) .section-venture

.contact-info {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 1rem;
  @media screen and (max-width: 1100px) {
    align-items: flex-start;
    flex-direction: column;
  }
  @media screen and (max-width: 1024px) {
    padding: 3rem 1rem;
  }
  @media screen and (max-width: 768px) {
    align-items: center;
    flex-direction: row;
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
  }

  svg.icon-satellite {
    @media screen and (max-width: 1024px) {
      height: 11.4rem;
      width: 13.1rem;
    }
  }//svg.icon-satellite

  .contact {
    color: #fff;
    font-size: 2.4rem;
    line-height: normal;
    margin: 0;
    padding-bottom: 1rem;
    text-align: left;
    @media screen and (max-width: 425px) {  font-size: 1.8rem;  }
    p {
      padding: 2rem 0;
      @media screen and (max-width: 768px) {  padding: 1rem 0;  }
    }
    b {
      font-weight: 900;
      @media screen and (max-width: 1440px) {  display: block;  }
    }
  }//.contact
}//.contact-info