.section-team {
  padding: 10rem 0 8.5rem;
  @media screen and (max-width: 1024px) {
    padding: 6rem 0 8.5rem;
  }

  .section-title {
    margin-bottom: 19rem;
    @media screen and (max-width: 1024px) {
      margin-bottom: 16rem;
    }
    &:after {
      background: $violet;
      content: '';
      height: .7rem;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
      width: 6rem;
      bottom: -8rem;
    }
  }//.section-title

  .section-body {
    margin: 0 auto .5rem;
    max-width: 990px;
  }

  .member-list {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 27.2rem;
    }
    /*li:nth-child(3n + 1) {
      .member-image {background-color: $violet-light;}
    }
    li:nth-child(3n + 2) {
      .member-image {background-color: $blue;}
    }
    li:nth-child(3n + 3) {
      .member-image {background-color: $pink;}
    }*/
    @media screen and (max-width: 1024px) {
      margin: 0 auto 5rem;
      max-width: 86rem;
    }
    @media screen and (max-width: 826px) {
      justify-content: space-evenly;
    }

    li {
      margin-bottom: 9rem;
      @media screen and (max-width: 1024px) {
        margin-bottom: 8rem;
      }
    }

  }//.member-list

  .member-image {
    background-color: $grey-light;
    border-radius: 2rem;
    height: 27.2rem;
    margin-bottom: 2rem;
    width: 27.2rem;
    @media screen and (max-width: 1024px) {
      height: 24.3rem;
      width: 23.5rem;
    }
  }
  .member-name {
    color: #931BF6;
    margin-bottom: .9rem;
    @media screen and (max-width: 1024px) {
      font-size: 1.4rem;
      margin-bottom: .5rem;
    }
  }//.member-name
  .member-position {
    color: $grey-dark;
    @media screen and (max-width: 1024px) {
      font-size: 1.2rem;
    }
  }

  .member-socials {
    padding: 2.5rem 0;
    a {
      display: inline-block;
      margin: 0 1.5rem;
      &:hover {
        svg {fill: darken(#edecec, 15%);}
      }
      svg {fill: #edecec;}
    }
  }//.member-socials


  .button {
    margin: auto;
  }

  .section-number {
    line-height: 22rem;
  }

}//.section-team