.section-header {
  background: #fff url(../img/header_bg.png) no-repeat center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
  height: 828px;
  padding: $headerHeight 1.2rem 0;
  position: relative;
  @media screen and (max-width: 1024px) {
    height: 69rem;
    padding-top: $headerHeightDesktop;
  }
  @media screen and (max-width: 768px) {
    height: 54rem;
    padding-top: $headerHeightTablet;
  }

  .wrapper {height: 100%;}
  .section-title {
    @media screen and (max-width: 1024px) {
      font-size: 4.8rem;
      margin: 1rem 0 2rem;
    }
  }//.section-title

  .video-container {
    margin: 0 auto 4rem;
    max-width: 53.5rem;
    @media screen and (max-width: 1024px) {
      max-width: 46rem;
    }
  }
  .video-wrapper {
    background: $violet;
    box-shadow: 0px 40px 30px -5px #fb476c;
    height: 30rem;
    margin-bottom: 3rem;
    width: 100%;
  }
  button {
    margin: auto;
  }

  .section-footer {
    position: absolute;
    right: 0;
    bottom: 3rem;
  }
}//.section-header