.section-projects {
  padding: 17rem 0 23rem;
  @media screen and (max-width: 1024px) {
    padding: 9rem 0 5rem;
  }
  @media screen and (max-width: 768px) {
    padding: 1.8rem 0 3rem;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }

  .section-title {
    margin-bottom: 18rem;
    @media screen and (max-width: 768px) {
      margin-bottom: 5rem;
    }
    @media screen and (max-width: 320px) {
      margin-bottom: 3rem;
    }
  }//.section-title

  .projects-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 120rem;
    margin: 0 auto 4.5rem;
    max-width: 124rem;
    @media screen and (max-width: 1170px) {
      align-items: center;
      max-width: 83rem;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
    @media screen and (max-width: 739px) {
      height: auto;
    }

    .project {
      margin-bottom: 3rem;
      position: relative;
      width: 39rem;
      @media screen and (max-width: 768px) {
        width: 35.5rem;
      }
      @media screen and (max-width: 425px) {
        margin-bottom: 2rem;
        max-width: 32rem;
        width: 100%;
      }

      &-image {

      }

      &-info {
        align-items: center;
        background-image: url(../img/path_5.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 26.3rem;
        left: 0;
        padding: 0 3rem 3rem;
        position: absolute;
        width: 100%;
      }
      &-brand {
        color: #fff;
        letter-spacing: 3px;
        margin-bottom: .8rem;
        position: relative;
        text-transform: uppercase;
        &:before {
          background: #fff;
          content: '';
          height: 1px;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: -1rem;
          width: 5.3rem;
        }
      }
      &-title {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 1.8rem;
        font-weight: 900;
        height: 7rem;
        line-height: 2.3rem;
        max-width: 24.5rem;
        text-align: center;
      }

      .button {
        margin: 1rem 0 0;
        width: 100%;
        @media screen and (max-width: 1024px) {
          height: 7.5rem;
          line-height: 7.1rem;
        }
        @media screen and (max-width: 425px) {
          height: 6rem;
          line-height: 5.4rem;
          min-width: 0;
        }
        svg {
          position: static;
          transition: position 0s, opacity linear .2s, transform linear .2s;}
        &:hover {

        }
      }//.button

      &:first-child {
        height: 56.4rem;
        order: 1;
        //.project-info {background-image: url(../img/path_1.png);}
        @media screen and (max-width: 1024px) {
          //order: 1;
        }
      }
      &:nth-child(2) {
        height: 43.9rem;
        order: 3;
        //.project-info {background-image: url(../img/path_2.png);}
        @media screen and (max-width: 1024px) {
          //order: 3;
        }
      }
      &:nth-child(3) {
        height: 61.4rem;
        order: 5;
        //.project-info {background-image: url(../img/path_3.png);}
        @media screen and (max-width: 375px) {
          display: none;
        }
      }
      &:nth-child(4) {
        height: 56.4rem;
        order: 2;
        //.project-info {background-image: url(../img/path_4.png);}
        @media screen and (max-width: 375px) {
          display: none;
        }
      }
      &:nth-child(5) {
        height: 61.4rem;
        order: 4;
        //.project-info {background-image: url(../img/path_5.png);}
        @media screen and (max-width: 1170px) {
          display: none;
        }
      }
      &:nth-child(6) {
        height: 43.9rem;
        order: 6;
        //.project-info {background-image: url(../img/path_6.png);}
        @media screen and (max-width: 1170px) {
          display: none;
        }
      }


    }//.project

  }//.projects-list

  .button {
    margin: auto;
    @media screen and (max-width: 768px) {
      height: 10rem;
      line-height: 9.4rem;
      max-width: 100%;
    }
    @media screen and (max-width: 375px) {
      font-size: 1.2rem;
      height: 7rem;
      line-height: 6.4rem;
    }
  }//.button

  .section-footer {
    position: absolute;
    right: 0;
    bottom: -13rem;
  }

}//.section-projects






body:not(.home) .section-projects {
  padding: 5rem 0 5rem;

  .section-title {
    margin-bottom: 5rem;
  }

  .projects-list {
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    .project {
      order: initial;
    }
  }

}//body:not(.home) .section-projects