.section-nav {
  padding: 3rem 0 2rem;
  text-align: center;

  .logo {
    display: inline-block;
    fill: #49159b;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 0 2rem;
      text-transform: uppercase;
      &.active a {
        color: $violet;
        opacity: 1;
      }
      a {
        color: $grey;
        font-weight: 600;
        letter-spacing: 2px;
        opacity: .5;
        &:hover {
          color: $violet;
          opacity: 1;
        }
      }
    }//li
  }//ul
}//.section-nav