.section-team {
  padding: 10rem 0 8.5rem;
  @media screen and (max-width: 1024px) {
    padding: 6rem 0 8.5rem;
  }
  @media screen and (max-width: 768px) {
    padding: 3rem 0 4rem;
  }

  .section-title {
    margin-bottom: 19rem;
    @media screen and (max-width: 1024px) {
      margin-bottom: 16rem;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 14rem;
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 4rem;
    }
  }//.section-title

  .section-body {
    margin: 0 auto .5rem;
    max-width: 990px;
    @media screen and (max-width: 425px) {
      padding: 0 1rem;
    }
  }

  .member-list {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 27.2rem;
    }
    /*li:nth-child(3n + 1) {
      .member-image {background-color: $violet-light;}
    }
    li:nth-child(3n + 2) {
      .member-image {background-color: $blue;}
    }
    li:nth-child(3n + 3) {
      .member-image {background-color: $pink;}
    }*/
    @media screen and (max-width: 1024px) {
      margin: 0 auto 5rem;
      max-width: 86rem;
    }
    @media screen and (max-width: 826px) {
      justify-content: space-evenly;
    }
    @media screen and (max-width: 768px) {
      justify-content: space-between;
      max-width: 56rem;
      padding: 0 1rem;
    }
    @media screen and (max-width: 475px) {
      justify-content: space-evenly;
    }
    @media screen and (max-width: 425px) {
      margin: 0 -.5rem;
      padding: 0;
    }

    li {
      margin-bottom: 9rem;
      @media screen and (max-width: 1024px) {
        margin-bottom: 8rem;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 4rem;
      }
      @media screen and (max-width: 425px) {
        margin-bottom: 1.5rem;
      }
    }//li

  }//.member-list

  .member-image {
    background-color: $grey-light;
    border-radius: 2rem;
    height: 27.2rem;
    margin-bottom: 2rem;
    width: 27.2rem;
    @media screen and (max-width: 1024px) {
      height: 24.3rem;
      width: 23.5rem;
    }
    @media screen and (max-width: 768px) {
      height: 15rem;
      width: 15rem;
    }
    @media screen and (max-width: 375px) {
      height: 13rem;
      margin-bottom: 1.3rem;
      width: 13rem;
    }
  }//.member-image

  .member-name {
    color: #931BF6;
    margin-bottom: .9rem;
    @media screen and (max-width: 1024px) {
      font-size: 1.4rem;
      margin-bottom: .5rem;
    }
    @media screen and (max-width: 375px) {
      //font-size: .9rem;
      //margin-bottom: 0;
    }
  }//.member-name
  .member-position {
    color: $grey-dark;
    @media screen and (max-width: 1024px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 375px) {
      //font-size: .9rem;
      //line-height: initial;
    }
  }//.member-position

  .member-socials {
    padding: 2.5rem 0;
    a {
      display: inline-block;
      margin: 0 1.5rem;
      &:hover {
        svg {fill: darken(#edecec, 15%);}
      }
      svg {fill: #edecec;}
    }
  }//.member-socials


  .button {
    margin: auto;
    @media screen and (max-width: 768px) {
      height: 7.5rem;
      line-height: 7.1rem;
      max-width: 30rem;
      .icon-arrow {
        //width: 5.5rem;
      }
    }
    @media screen and (max-width: 375px) {
      min-width: 0;
    }
  }//.button

  .section-number {
    line-height: 22rem;
  }

}//.section-team

body:not(.home) .section-team {
  padding-top: 6rem;
  @media screen and (max-width: 425px) {
    padding-top: 0;
  }
  .section-title {
    margin-bottom: 12rem;
    @media screen and (max-width: 425px) {
      margin-bottom: 2rem;
    }
  }
}