.section-header {
  background: #fff url(../img/header_bg.png) no-repeat center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
  height: 828px;
  padding-top: $headerHeight;
  position: relative;

  .wrapper {height: 100%;}
  .section-title {
    text-shadow: 0 5px 32px rgba(255,255,255,.5);
  }

  .video-container {
    margin: 0 auto 4rem;
    max-width: 53.5rem;
  }
  .video-wrapper {
    background: $violet;
    box-shadow: 0px 40px 30px -5px #fb476c;
    height: 30rem;
    margin-bottom: 3rem;
    width: 100%;
  }
  button {
    margin: auto;
  }

  .section-footer {
    position: absolute;
    right: 0;
    bottom: 3rem;
  }
}//.section-header