.section-venture {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .section-title {
    @media screen and (max-width: 1024px) {
      font-size: 5rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 4rem;
    }
  }//.section-title

  .left {
    background: -webkit-linear-gradient(33deg, $violet 0%, $pink 70%);
    background: linear-gradient(33deg, $violet 0%, $pink 70%);
    padding: 1rem 3rem;
    text-align: right;
    width: 40.4255%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .section-title {
      max-width: 57rem;
      display: inline-block;
    }
  }//.left
  .right {
    padding-bottom: 5rem;
    width: 59.5744%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  form {
    display: inline-block;
    max-width: 84rem;
    padding-left: 10%;
    width: 80%;
    @media screen and (max-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
    }
    .button {
      max-width: 39rem;
      width: 100%;
      @media screen and (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }//form

}//.section-venture