.section-join {
  background: -webkit-linear-gradient(33deg, $violet 0%, $pink 70%);
  background: linear-gradient(33deg, $violet 0%, $pink 70%);
  height: 45rem;
  overflow: hidden;
  padding: 5rem 0;
  position: relative;
  @media screen and (max-width: 425px) {
    height: 23rem;
    padding: 0;
  }

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .section-title {
    max-width: 86rem;
    margin: auto;
    padding: 0 2rem;
    text-align: left;
    @media screen and (max-width: 768px) {
      font-size: 4.8rem;
    }
    @media screen and (max-width: 425px) {
      font-size: 2.4rem;
    }
  }

  .button {
    height: 7.7rem;
    line-height: 7.3rem;
    margin: auto;
    max-width: 50.8rem;
    width: 100%;
    &:hover {
      .icon-arrow {
        stroke: #fff;
      }
    }
    .icon-arrow {
      stroke: $violet;
    }
  }//.button

}//.section-join

