.section-services {

  @media screen and (min-width: 1400px) {
    padding-bottom: 15rem;
  }

  .section-title {
    background: #fff;
    color: #8A00F4;
    margin-bottom: 20rem;
    margin-top: 0;
    padding-bottom: 7rem;
    padding-top: 4.3rem;
    &:before {
      background: #fff;
      content: '';
      height: 100%;
      right: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 12.5rem;
      padding-bottom: 1rem;
    }
  }//.section-title

  .section-body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -7rem;
    @media screen and (max-width: 1290px) {
      justify-content: flex-start;
    }
    @media screen and (min-width: 1025px) {
      margin-bottom: -20rem;
    }
    @media screen and (max-width: 1023px) {
      justify-content: center;
    }
  }//.section-body

  .service-item {
    background: #fff;
    text-align: center;
    margin: 0 1rem 18rem;
    max-width: 36rem;
    position: relative;
    width: 100%;
    @media screen and (min-width: 1290px) {
      margin-left: 0;
      margin-right: 3rem;
    }//@media screen and (min-width: 1290px)
    @media screen and (max-width: 1289px) {
      max-width: 30rem;
      margin-left: 0;
      margin-right: 0;
    }
    @media screen and (min-width: 1024px) {
      &:nth-child(4) {
        margin-left: 9rem;
      }
    }
    @media screen and (max-width: 768px) {
      max-width: 36rem;
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 12.2rem;
    }

  }//.service-item

  .service-icon {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }
  .service-title {
    color: #8a00f4;
    font-size: 1.8rem;
    font-weight: 900;
    padding-bottom: 2rem;
    padding-top: 14rem;
    text-transform: uppercase;
    @media screen and (max-width: 375px) {
      font-size: 1.4rem;
      padding-bottom: 1rem;
      padding-top: 12.3rem;
    }
  }

  .section-footer {
    @media screen and (min-width: 1400px) {
      position: absolute;
      right: 0;
      top: 320px;
    }
  }
}//.section-services




body:not(.home) .section-services {

  padding-bottom: 0;

  .section-title {
    color: $violet;
    margin: 0;
    @media screen and (max-width: 500px) {
      background: $violet;
      border-bottom: 1px solid #fff;
      color: #fff;
      padding: 2.5rem 0;
    }
  }

  .wrapper {
    align-items: stretch;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
      //align-items: stretch;
    }
    @media screen and (max-width: 500px) {
      //align-items: center;
      flex-direction: column-reverse;
      text-align: center;
    }
  }//.wrapper

  .left {
    @media screen and (min-width: 501px) {
      display: flex;
    }
  }

  .section-body {
    align-items: center;
    flex-direction: column;
    margin: 0;

    .service-item {
      background: -webkit-linear-gradient($violet 80%, $pink 100%);
      background: linear-gradient($violet 80%, $pink 100%);
      color: $violet;
      font-size: 1.8rem;
      margin: 0;
      max-width: 100%;
      overflow: hidden;
      padding: 7rem 0;
      position: relative;
      text-align: left;
      &:hover {
        color: #fff;
        &:before {opacity: 0;}
        .service-title {color: #fff;}
        .service-icon {overflow: visible;}
        .button {
          background: #fff;
          color: #8A00F4;
          visibility: visible;
          &:hover {
            background: transparent;
            color: #fff;
          }
        }//.button
      }//&:hover
      &:before {
        background: #fff;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        opacity: 1;
        transition: all ease-in .3s;
        width: 100%;
        @media screen and (max-width: 500px) {  content: none;  }
      }
      @media screen and (max-width: 768px) {  padding: 5.5rem 0;  }
      @media screen and (max-width: 500px) {
        color: #fff;
        .service-title {color: #fff;}
      }//@media screen and (max-width: 500px)

      .button {
        color: #fff;
        height: 7.5rem;
        line-height: 7.1rem;
        max-width: 31.6rem;
        width: 100%;
        @media screen and (min-width: 769px) {visibility: hidden;}
        @media screen and (max-width: 500px) {display: none;}
      }//.button

    }//.service-item

    .left .button {
      @media screen and (min-width: 501px) {
        display: none;
      }
      @media screen and (max-width: 500px) {
        border-color: transparent;
        display: block;
        margin: auto;
        &:hover {
          background: transparent;
          border-color: #fff;
        }
      }
    }//.left .button

    .service-icon {
      background: $violet;
      border-radius: 50%;
      height: 33rem;
      margin: 0 1rem;
      overflow: hidden;
      position: relative;
      transform: none;
      width: 33rem;

      @media screen and (max-width: 500px) {
        background: transparent;
        margin: 0 auto 2rem;
        overflow: visible;
        svg {background: transparent;}
      }

      &.icon-1 {
        align-self: flex-end;
        @media screen and (min-width: 501px) {top: -8rem;}
      }
      &.icon-2 {margin-top: -.4rem;}
      &.icon-3:before {
        background: $pink;
        content: '';
        height: 52px;
        position: absolute;
        right: 100%;
        top: 42px;
        width: 500px;
      }
      &.icon-4 {
        @extend .icon-1;
      }
      &.icon-5 {

      }
      &.icon-6 {

      }

      svg[class*="service-icon"] {
        background: transparent;
        border-radius: 0;
        position: absolute;
      }
      .service-icon-1 {
        height: 47.9rem;
        left: -21.3rem;
        width: 62.2rem;
        @media screen and (max-width: 500px) {
          //height: 24.5rem;
          //width: 24.5rem;
        }
      }
      .service-icon-2 {
        height: 39.6rem;
        left: 0;
        top: -6.6rem;
        width: 50.5rem;
      }
      .service-icon-3 {
        height: 33rem;
        left: -13.5rem;
        width: 46.5rem;
      }
      .service-icon-4 {
        height: 47.7rem;
        left: 0;
        width: 54.6rem;
      }
      .service-icon-5 {
        height: 34.8rem;
        left: -67px;
        top: -16px;
        width: 46.6rem;
      }
      .service-icon-6 {
        height: 33rem;
        left: 0;
        width: 33rem;
      }
    }//.service-icon

    .service-description {
      max-width: 68rem;
      padding: 0 2.5rem;
      position: relative;
      z-index: 1;
      @media screen and (max-width: 500px) {  font-size: 1.4rem;  }
    }
    .service-title {
      color: $violet;
      font-size: 4.8rem;
      line-height: normal;
      margin-bottom: 2rem;
      padding: 0;
      transition: $default-transition;
      @media screen and (max-width: 768px) {  font-size: 3rem;  }
      @media screen and (max-width: 500px) {  font-size: 1.8rem;  }
    }//.service-title
    .service-text {
      margin-bottom: 2rem;
      transition: $default-transition;
    }
  }//.section-body

}//body:not(.home) .section-services