.section-services {

  @media screen and (min-width: 1400px) {
    padding-bottom: 15rem;
  }

  .section-title {
    background: #fff;
    color: #8A00F4;
    margin-bottom: 20rem;
    margin-top: 0;
    padding-bottom: 7rem;
    padding-top: 4.3rem;
    &:before {
      background: #fff;
      content: '';
      height: 100%;
      right: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
    @media screen and (min-width: 769px) {
      padding-left: 7%;
      width: 93%;
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 12.5rem;
      padding-bottom: 1rem;
    }
  }//.section-title

  .section-body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -7rem;
    @media screen and (max-width: 1290px) {
      justify-content: flex-start;
    }
    @media screen and (min-width: 1025px) {
      margin-bottom: -20rem;
    }
    @media screen and (max-width: 1023px) {
      justify-content: center;
    }
  }//.section-body

  .service-item {
    background: #fff;
    text-align: center;
    margin: 0 1rem 18rem;
    max-width: 36rem;
    position: relative;
    width: 100%;
    @media screen and (min-width: 1290px) {
      margin-left: 0;
      margin-right: 3rem;
    }//@media screen and (min-width: 1290px)
    @media screen and (max-width: 1289px) {
      max-width: 30rem;
      margin-left: 0;
      margin-right: 0;
    }
    @media screen and (min-width: 1024px) {
      &:nth-child(4) {
        margin-left: 9rem;
      }
    }
    @media screen and (max-width: 768px) {
      max-width: 36rem;
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 12.2rem;
    }

  }//.service-item

  .service-icon {
    height: 24.2rem;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    width: 24.2rem;
  }
  .service-title {
    color: #8a00f4;
    font-size: 1.8rem;
    font-weight: 900;
    padding-bottom: 2rem;
    padding-top: 14rem;
    text-transform: uppercase;
    @media screen and (max-width: 375px) {
      font-size: 1.4rem;
      padding-bottom: 1rem;
      padding-top: 12.3rem;
    }
  }

  .section-footer {
    @media screen and (min-width: 1400px) {
      position: absolute;
      right: 0;
      top: 320px;
    }
  }
}//.section-services




body:not(.home) .section-services {

  padding-bottom: 0;

  .section-title {
    color: $violet;
    margin: 0;
    @media screen and (max-width: 500px) {
      background: $violet;
      border-bottom: 1px solid #fff;
      color: #fff;
      padding: 2.5rem 0;
    }
  }

  .wrapper {
    align-items: stretch;
    display: flex;
    justify-content: center;
    z-index: 2;
    @media screen and (max-width: 768px) {
      //align-items: stretch;
    }
    @media screen and (max-width: 500px) {
      //align-items: center;
      flex-direction: column-reverse;
      text-align: center;
    }
  }//.wrapper

  .left {
    @media screen and (min-width: 501px) {
      display: flex;
    }
  }

  .section-body {
    align-items: center;
    flex-direction: column;
    margin: 0;

    .service-item {
      background: -webkit-linear-gradient($violet 80%, $pink 100%);
      background: linear-gradient($violet 80%, $pink 100%);
      color: $violet;
      font-size: 1.8rem;
      margin: 0;
      max-width: 100%;
      overflow: hidden;
      padding: 7rem 0;
      position: relative;
      text-align: left;

      &:hover {
        color: #fff;
        &:before {opacity: 0;}

        .service-title {color: #fff;}

        .service-icon {
          background: transparent;
          overflow: visible;
        }
        .icon-3:before {width: 700px;}
        .icon-5 .icon-wrapper {
          left: -8rem;
          top: -8rem;
          .service-icon-5 {
            left: 1.3rem;
            top: 6.4rem;
          }
        }
        .icon-wrapper {
          border-radius: 0;
          height: 200%;
          width: 200%;
        }

        .button {
          background: #fff;
          color: #8A00F4;
          visibility: visible;
          &:hover {
            background: transparent;
            color: #fff;
          }
        }//.button
      }//.service-item:hover

      &:before {
        background: #fff;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        opacity: 1;
        transition: all ease-in .3s;
        width: 100%;
        z-index: 1;
        @media screen and (max-width: 500px) {  content: none;  }
      }
      @media screen and (max-width: 768px) {  padding: 5.5rem 0;  }
      @media screen and (max-width: 500px) {
        color: #fff;
        .service-title {color: #fff;}
      }//@media screen and (max-width: 500px)

      .button {
        color: #fff;
        height: 7.5rem;
        line-height: 7.1rem;
        max-width: 31.6rem;
        width: 100%;
        @media screen and (min-width: 769px) {visibility: hidden;}
        @media screen and (max-width: 500px) {display: none;}
      }//.button

    }//.service-item

    .left .button {
      @media screen and (min-width: 501px) {
        display: none;
      }
      @media screen and (max-width: 500px) {
        border-color: transparent;
        display: block;
        margin: auto;
        &:hover {
          background: transparent;
          border-color: #fff;
        }
      }
    }//.left .button

    .service-icon {
      background: $violet;
      border-radius: 50%;
      height: 33rem;
      margin: 0 1rem;
      //overflow: hidden;
      position: relative;
      transform: none;
      width: 33rem;

      @media screen and (max-width: 500px) {
        background: transparent;
        margin: 0 auto 2rem;
        overflow: visible;
        svg {background: transparent;}
      }
      .icon-wrapper {
        //background: #ccc;
        border-radius: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        transition: all .7s linear;
        width: 100%;
        @media screen and (max-width: 500px) {overflow: visible;}
      }


      &.icon-1 {
        align-self: flex-end;
        @media screen and (min-width: 501px) {top: -8rem;}
        .icon-wrapper {
          right: 0;
          top: 0;
        }
      }
      &.icon-2 {
        margin-top: -.4rem;
        .icon-wrapper {
          left: 0;
          bottom: 0;
        }
      }
      &.icon-3 {
        &:before {
          background: $pink;
          content: '';
          height: 52px;
          position: absolute;
          right: 70%;
          top: 42px;
          transition: all .7s linear;
          width: 0;
        }
        .icon-wrapper {
          right: 0;
          top: 0;
        }
      }
      &.icon-4 {
        @extend .icon-1;
        .icon-wrapper {
          left: 0;
          top: 0;
        }
      }
      &.icon-5 {
        .icon-wrapper {
          left: 0;
          top: 0;
        }
      }
      &.icon-6 { }

      svg[class*="service-icon"] {
        background: transparent;
        border-radius: 0;
        position: absolute;
      }
      .service-icon-1 {
        height: 47.9rem;
        right: -7.5rem;
        top: 0;
        width: 62.2rem;
      }
      .service-icon-2 {
        //bottom: 0;
        bottom: -11rem;
        //height: 39.6rem;
        height: 63.6rem;
        left: 0;
        //width: 50.5rem;
        width: 90.5rem;
      }
      .service-icon-3 {
        height: 33rem;
        right: 0;
        top: 0;
        width: 46.5rem;
      }
      .service-icon-4 {
        height: 47.7rem;
        left: 0;
        width: 54.6rem;
      }
      .service-icon-5 {
        height: 34.8rem;
        left: -67px;
        top: -16px;
        width: 46.6rem;
      }
      .service-icon-6 {
        height: 33rem;
        left: 0;
        width: 33rem;
      }
    }//.service-icon
    #intmark .icon-wrapper {transition: $default-transition;}

    .service-description {
      max-width: 68rem;
      padding: 0 2.5rem;
      position: relative;
      z-index: 1;
      @media screen and (max-width: 500px) {  font-size: 1.4rem;  }
    }
    .service-title {
      color: $violet;
      font-size: 4.8rem;
      line-height: normal;
      margin-bottom: 2rem;
      padding: 0;
      transition: $default-transition;
      @media screen and (max-width: 768px) {  font-size: 3rem;  }
      @media screen and (max-width: 500px) {  font-size: 1.8rem;  }
    }//.service-title
    .service-text {
      margin-bottom: 2rem;
      transition: $default-transition;
    }
  }//.section-body

}//body:not(.home) .section-services



//SECTION'S BACKGROUND PLANETS
.service-item {
  .planet-xs {
    @include circle(5.2rem);
    @media screen and (max-width: 425px) {display: block;}
    &.xs-1 {
      animation-name: planetsFly-1a;
      left: 5%;
      top: 30%;
      @media screen and (max-width: 1024px) {  left: 5%;  }
      @media screen and (max-width: 768px) {  top: 25%;  }
    }
    &.xs-2 {
      animation-name: planetsFly-2a;
      left: 57%;
      top: 33%;
      @media screen and (max-width: 1024px) {  top: 20%;  }
      @media screen and (max-width: 768px) {
        left: 43%;
        top: 40%;
      }
    }
    &.xs-3 {
      animation-name: planetsFly-3a;
      bottom: 5%;
      left: 20%;
      @media screen and (max-width: 1024px) {
        bottom: 15%;
        left: 15%;
      }
    }
    &.xs-4 {
      animation-name: planetsFly-1a;
      left: 65%;
      bottom: 10%;
      @media screen and (max-width: 1024px) {  bottom: 5%;  }
    }
    &.xs-5 {
      animation-name: planetsFly-3a;
      left: 40%;
      top: 7%;
      @media screen and (max-width: 1024px) {
        left: 38%;
        top: 40%;
      }
      @media screen and (max-width: 768px) {
        left: 65%;
        top: 14%;
      }
    }
    &.xs-6 {
      animation-name: planetsFly-2a;
      right: 3%;
      top: 47%;
      @media screen and (max-width: 1024px) {  top: 35%;  }
      @media screen and (max-width: 1024px) {  top: 50%;  }
    }
  }//.planet-xs
}