.section-header {
  background: #fff url(../img/header_bg.png) no-repeat center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
  height: 828px;
  padding: $headerHeight 1.2rem 0;
  position: relative;
  @media screen and (max-width: 1024px) {
    height: 69rem;
    padding-top: $headerHeightDesktop;
  }
  @media screen and (max-width: 768px) {
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    height: 54rem;
    padding-top: $headerHeightTablet;
  }
  @media screen and (max-width: 320px) {
    background-image: -webkit-linear-gradient(60deg, $pink 0%, $violet 100%);
    background-image: linear-gradient(60deg, $pink 0%, $violet 100%);
    clip-path: none;
    height: 40rem;
    padding-top: $headerHeightMobile;
  }

  .wrapper {height: 100%;}
  .section-title {
    @media screen and (max-width: 1024px) {
      font-size: 4.8rem;
      margin: 1rem 0 2rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 3.6rem;
    }
    @media screen and (max-width: 320px) {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
  }//.section-title

  .video-container {
    margin: 0 auto 4rem;
    max-width: 53.5rem;
    @media screen and (max-width: 1024px) {
      max-width: 46rem;
    }
    @media screen and (max-width: 768px) {
      max-width: 35rem;
    }
  }//.video-container

  .video-wrapper {
    background: $violet;
    box-shadow: 0px 40px 30px -5px #fb476c;
    height: 30rem;
    margin-bottom: 3rem;
    width: 100%;
    @media screen and (max-width: 768px) {
      height: 23rem;
    }
    @media screen and (max-width: 320px) {
      height: 20rem;
      margin: 0 -1.2rem;
    }
  }
  button {
    margin: auto;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }//button

  .section-footer {
    position: absolute;
    right: 0;
    bottom: 3rem;
  }
}//.section-header