svg {transition: $default-transition;}
svg.icon-arrow {
  height: 1rem;
  width: 9rem;
}

header svg {
  height: 1.2rem;
  &.icon-facebook {width: 7px;}
  &.icon-twitter {width: 15px;}
  &.icon-google {width: 19px;}
  &.icon-instagram {width: 12px;}
  &.icon-linked-in {width: 12px;}
  &.icon-pinterest {width: 10px;}
  @media screen and (max-width: 768px) {
    display: block;
    height: 2.1rem;
    &.icon-facebook {width: 11px;}
    &.icon-twitter {width: 25px;}
    &.icon-google {width: 33px;}
    &.icon-instagram {width: 21px;}
    &.icon-linked-in {width: 21px;}
    &.icon-pinterest {width: 19px;}
  }
  @media screen and (max-width: 425px) {
    height: 3rem;
    &.icon-facebook {width: 20px;}
    &.icon-twitter {width: 34px;}
    &.icon-google {width: 42px;}
    &.icon-instagram {width: 30px;}
    &.icon-linked-in {width: 30px;}
    &.icon-pinterest {width: 29px;}
  }
}//header

footer {
  svg.icon-facebook {
    height: 24px;
    width: 13px;
  }
  svg.icon-twitter {
    height: 24px;
    width: 29px;
  }
  svg.icon-linked-in {
    height: 24px;
    width: 24px;
  }
  svg.icon-instagram {
    height: 24px;
    width: 24px;
  }
  svg.icon-pinterest {
    height: 24px;
    width: 18px;
  }
  svg.icon-google {
    height: 24px;
    width: 34px;
  }
}//footer

svg.icon-logo-header {
  fill: #8A00F4;
  height: 3.1rem;
  width: 26.3rem;
  @media screen and (max-width: 425px) {
    fill: #fff;
  }
  &.mobile {
    height: 3.1rem !important;
    width: 5.8rem !important;
  }
  .home & {
    fill: #fff;
    height: 2.5rem;
    width: 14.1rem;
  }
}//svg.icon-logo-header

svg.icon-logo-footer {
  height: 2rem;
}

[class*="service-icon"] {
  fill: transparent;
  height: 24.2rem;
  width: 24.2rem;
  @media screen and (max-width: 375px) {
    height: 21.3rem;
    width: 22.3rem;
  }
}

svg.icon-satellite {
  fill: transparent;
  height: 14.5rem;
  transform: rotateZ(-45deg);
  width: 17.8rem;
}