svg {
  transition: $default-transition;
}
svg.icon-arrow {
  height: 1rem;
  width: 9rem;
}

header svg {
  height: 12px;
  &.icon-facebook {width: 7px;}
  &.icon-twitter {width: 15px;}
  &.icon-google {width: 19px;}
  &.icon-instagram {width: 12px;}
  &.icon-linked-in {width: 12px;}
  &.icon-pinterest {width: 10px;}
  @media screen and (max-width: 768px) {
    display: block;
    height: 2.1rem;
    &.icon-facebook {width: 11px;}
    &.icon-twitter {width: 25px;}
    &.icon-google {width: 33px;}
    &.icon-instagram {width: 21px;}
    &.icon-linked-in {width: 21px;}
    &.icon-pinterest {width: 19px;}
  }
}//header

footer {
  svg.icon-facebook {
    height: 24px;
    width: 13px;
  }
  svg.icon-twitter {
    height: 24px;
    width: 29px;
  }
  svg.icon-linked-in {
    height: 24px;
    width: 24px;
  }
  svg.icon-instagram {
    height: 24px;
    width: 24px;
  }
  svg.icon-pinterest {
    height: 24px;
    width: 18px;
  }
  svg.icon-google {
    height: 24px;
    width: 34px;
  }
}

svg.icon-logo-header {
  fill: #fff;
  height: 2.5rem;
  width: 14.1rem;
}
svg.icon-logo-footer {
  height: 2rem;
}

[class*="service-icon"] {
  height: 24.2rem;
  width: 24.2rem;
  @media screen and (max-width: 375px) {
    height: 21.3rem;
    width: 22.3rem;
  }
}